name: Reusable Docker Build

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      docker_username:
        required: true
      docker_password:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_password }}
      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Docker Image
        run: |
          docker build \
            -t ${{ secrets.docker_username }}/${{ inputs.service }}:latest \
            -t ${{ secrets.docker_username }}/${{ inputs.service }}:${{ inputs.tag }} \
            -t ghcr.io/${{ github.repository_owner }}/${{ inputs.service }}:latest \
            -t ghcr.io/${{ github.repository_owner }}/${{ inputs.service }}:${{ inputs.tag }} \
            ./app/${{ inputs.service }}



    #   - name: Push Docker Image
    #     run: |
    #       docker push ${{ inputs.username }}/${{ inputs.service }}:latest
    #       docker push ${{ inputs.username }}/${{ inputs.service }}:${{ inputs.tag }}

      - name: Push to GHCR
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/${{ inputs.service }}:latest
          docker push ghcr.io/${{ github.repository_owner }}/${{ inputs.service }}:${{ inputs.tag }}
